<server description="Title Generator Server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>jpa-2.2</feature>
        <feature>ejb-3.2</feature>
    </featureManager>

    <library id="postgresLib">
        <fileset dir="${server.config.dir}/libs" includes="postgresql-*.jar" />
    </library>

    <jdbcDriver id="postgresJdbcDriver" libraryRef="postgresLib"
                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"/>

    <dataSource id="DefaultDataSource"
                jndiName="jdbc/datasource"
                jdbcDriverRef="postgresJdbcDriver"
                transactional="true">
        <jdbcDriver libraryRef="postgresLib" />
        <properties URL="${data.jdbc.url}" user="${data.jdbc.user}" password="${data.jdbc.password}" />
    </dataSource>
</server>
